.icon__success {
  color: #388537;
}

.ml-5 {
  margin-left: 5px;
}

.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}

.align-items-center {
  align-items: center;
}

.object-fit-cover {
  object-fit: cover;
}

.w-100 {
  width: 100%;
}

.h-200 {
  height: 200px;
}

.p-20 {
  padding: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.fw-800 {
  font-weight: 800;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-15 {
  margin-top: 10px;
}

.ion-card-title {
  --color: var(--ion-color-step-850, #262626);
  color: var(--color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.ion-card-subtitle {
  --color: var(--ion-color-step-850, #262626);
  color: var(--color);
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
}

table {
  th, td {
    white-space: nowrap;
  }
}

ion-label {
  white-space: nowrap;
}
